body {
    /*background-color: blue;*/
}

.sidebar {
    float: right;
    clear: left;
    padding-left: 10px;
    padding-right: 25px;
    box-shadow: black;
    height: 100%;
}

.sideImages {
    margin-left: 25%;
}

.sideLinks {
    
}

h1, h2, h3, h4, h5, h5 {
    font-family: 'Faster One', cursive;
    letter-spacing: 0.5em;
}

h1 {
    font-size: 300%;
}

h3 {
    font-size: 150%;
}

p {
    font-family: 'Yatra One', sans-serif;
}

.centerIMG {
    margin: auto;
}