body {
    /*background-color: blue;*/
}

.sidebar {
    position: fixed;
    float: right;
    margin-left: 75%;
    top: 0px;
    right: 0px;
    padding: 10px;
    overflow: scroll;
    height: 100%;
    width: 20%;
    background-color: white;
    border-left: inset;
    /* display: none; */
}

#body {
    margin-left: 3%;
    width: 72%;
}

.largetext {
  text-align: justify;
}

div.logo {
    position: fixed;
    float: right;
    margin-left: 75%;
    top: 0px;
    right: 0px;
    /*padding: 10px;*/
    /*overflow: scroll;*/
    height: 170px;
    width: 21%;
    background-color: white;
    /*border-left: inset;*/
    /*margin-top: 170px;*/
}

img.logo {
    position: fixed;
    top: 10px;
    right: 5%;
    z-index: 10;
}

.sideImages {
    margin-left: 10%;
}

.sideLinks {

}

h1, h2, h3, h4, h5, h5 {
    /* font-family: 'Faster One', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Fredoka One', cursive; */
    font-family: 'Hammersmith One', sans-serif;
    /* letter-spacing: 0.5em; */
}

h1 {
    font-size: 300%;
}

h3 {
    font-size: 150%;
    margin: auto;
}

p {
    font-family: 'Yatra One', sans-serif;
    font-family: 'Slabo 27px', serif;
}

.centerIMG {
    margin: auto;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
