body {
    background-color: #b3caef;
    /*background-color: #3d6aff;*/
    /*background-color: #27376d;*/
    /*background-color: #0c2247;*/
    /*color: white;*/
}

.sidebar {
    position: fixed;
    float: right;
    margin-left: 75%;
    top: 0px;
    right: 0px;
    padding: 10px;
    overflow: scroll;
    height: 100%;
    width: 20%;
    background-color: #d3e3ff;
    border-left: inset;
    /*border-left: 10px;*/
    border-color: white;
    /* display: none; */
}

a {
    text-decoration: none;
    color: black;
}

.basic-button {
    display: block;
    height: 50px;
    width: 200px;
    margin: 10px auto 10px auto;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: #007177; 
    border: 0.5px solid rgba(255, 255, 255, 0.5);
	transition-duration: 0.05s;
}

button:hover{
	background-color:  rgba(255, 255, 255, 0.5);
    color: #007177;
    /*border-color: #007177;*/
    box-shadow: inset 0px 0px 5px 5px #007177;
    border: none;
}

#body {
    margin-left: 3%;
    width: 72%;
}

p {
  /* I want to indent the paragraphs. Also, the word "indent" and the word
  "word" register as something, so that's interesting. */
}

.largetext {
    text-align: justify;
}

div.logo {
    position: fixed;
    float: right;
    margin-left: 75%;
    top: 0px;
    right: 0px;
    /*padding: 10px;*/
    /*overflow: scroll;*/
    height: 170px;
    width: 21%;
    background-color: #d3e3ff;
    /*border-left: inset;*/
    /*margin-top: 170px;*/
}

img.logo {
    position: fixed;
    top: 10px;
    right: 5%;
    z-index: 10;
}

.sideImages {
    margin-left: 10%;
}

h1, h2, h3, h4, h5, h5 {
    /* font-family: 'Faster One', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Fredoka One', cursive; */
    font-family: 'Hammersmith One', sans-serif;
    /* letter-spacing: 0.5em; */
}

h1 {
    font-size: 300%;
}

h3 {
    font-size: 150%;
    margin: auto;
}

p {
    font-family: 'Yatra One', sans-serif;
    font-family: 'Slabo 27px', serif;
}

.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
